<h3>New ICO</h3>
<form action="/icos/new" method="POST">
	<input type="text" name="ticker" placeholder="ticker">
	<input type="text" name="name" placeholder="name">
	<input type="date" name="ico_date" placeholder="DD/MM/YYY">
	<input type="boolean" name="whitelist" placeholder="Y/N">
	<input type="submit" id="submit" value=" Add ICO">
</form>
